@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

.Login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #6f81ad, #042f46);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container > .card {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 40px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card > h2 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.card > form {
  display: flex;
  flex-direction: column;
}

form > label {
  color: #fff;
  margin-bottom: 5px;
}

.card > form > input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

container input[type="submit"] {
  padding: 10px;
  background-color: #fff;
  color: #498ffc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

container input[type="submit"]:hover {
  background-color: #70c1ff;
  color: white;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 350px;
  }
}
